.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px;
    width: 70%;
}